<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script>
		/* Use Cases
		============
		1. List the bugs - done
		2. Add a new bug - done
		3. Toggle the bug status - done
		4. Remove closed bugs - done
		5. Display Statistics - done
		5. Search for the bugs - done
		6. Sort the bugs - done
		7. Improvise the bug display - done
		8. Persist the bugs in the local storage
		9. Display "CreatedAt"
		10. Persist the bugs in the server
		11. Categorize the bugs
		*/

	</script>
	<script src="angular.min.js"></script>
	<style>
	section{
		margin-bottom: 10px;
	}
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	.stats{
		font-size: 20pt;
	}
	.bugname{
		cursor: pointer;
		font-size: 18pt;
	}
	ol{
		list-style: none;
		width: 500px;
	}
	li{
		padding : 5px;
		border : 1px solid gray;
		background-color: #e7e7e7;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	</style>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		bugTrackerApp.factory('bugOperations', function(){
			/*all the construction logic goes here*/
			return {
				toggle : function(bug){
					bug.isClosed = !bug.isClosed;
				},
				create : function(id, bugName){
					return {
						id : id,
						name : bugName,
						isClosed : false
					};
				}
			};
		});

		
		bugTrackerApp.controller("bugsController", function($scope, bugOperations){
			
			var storage = window.localStorage;
			var maxBugId = 0;

			$scope.bugs = [];

			for(var i=0; i<storage.length; i++){
				var bug = angular.fromJson(storage.getItem(storage.key(i)));
				maxBugId = maxBugId > bug.id ? maxBugId : bug.id;
				$scope.bugs.push(bug);
			}

			$scope.newBugName = '';
			$scope.addNew = function(bug){
				var newBug = bugOperations.create(++maxBugId, bug);
				storage.setItem(newBug.id, angular.toJson(newBug));
				$scope.bugs.push(newBug);
			};
			$scope.toggle = function(bug){
				bugOperations.toggle(bug);
				storage.setItem(bug.id, angular.toJson(bug));
			};
			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0; i--)
					if ($scope.bugs[i].isClosed){
						storage.removeItem($scope.bugs[i].id);
						$scope.bugs.splice(i,1);
					}
			};

		});

		bugTrackerApp.filter("closedCount", function(){
			return function(bugs){
				var closedCount = 0;
				for(var i=0; i<bugs.length; i++)
					if (bugs[i].isClosed)
						++closedCount;
				return closedCount;
			};
		})
		bugTrackerApp.value("defaultTrimLength", 30);

		bugTrackerApp.filter("trimText", function(defaultTrimLength){ /*factory returnin the filter*/
			return function(data, trimLength){
				trimLength = trimLength || defaultTrimLength;
				return data.length > trimLength ? data.substr(0,trimLength)+'...' : data;
			};
		});

	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{bugs | closedCount}}</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Is Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<select ng-model="sortBugBy">
				<option value="name">Name</option>
				<option value="isClosed">Closed Status</option>
			</select>
			<!-- <input type="text" ng-model="sortBugBy"> -->
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="orderByDescending">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add Bug" ng-click="addNew(newBugName)">
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
			<ol>
				<li ng-repeat="bug in (bugs | filter:searchBug) | orderBy:sortBugBy:orderByDescending">
					<span class="bugname" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">
						{{bug.name | trimText}}
					</span>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>