<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script>
		/* Use Cases
		============
		1. List the bugs - done
		2. Add a new bug - done
		3. Toggle the bug status - done
		4. Remove closed bugs
		5. Display Statistics
		5. Search for the bugs
		6. Sort the bugs
		7. Improvise the bug display
		8. Persist the bugs in the local storage
		9. Display "CreatedAt"
		10. Persist the bugs in the server
		11. Categorize the bugs
		*/

	</script>
	<script src="angular.min.js"></script>
	<style>
	section{
		margin-bottom: 10px;
	}
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	.stats{
		font-size: 20pt;
	}
	.bugname{
		cursor: pointer;
		font-size: 18pt;
	}
	ol{
		list-style: none;
		width: 300px;
	}
	li{
		padding : 5px;
		border : 1px solid gray;
		background-color: #e7e7e7;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	</style>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);
		bugTrackerApp.controller("bugsController", function($scope){
			$scope.bugs = [
				{name  : "Null pointer exception", isClosed : false},
				{name  : "File not found", isClosed : false},
				{name  : "Data validation error", isClosed : true},
				{name  : "Number format exception", isClosed : true},
				{name  : "Object reference or with block not set", isClosed : false},
			];
			$scope.newBugName = '';
			$scope.addNew = function(bug){
				var newBug = {
					name : bug,
					isClosed : false
				};
				$scope.bugs.push(newBug);
			};
			$scope.toggle = function(bug){
				bug.isClosed = !bug.isClosed;
			}
		})

	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">3</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" name="" id="">
			<label for="">Is Closed ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add Bug" ng-click="addNew(newBugName)">
			<input type="button" value="Remove Closed">
			<ol>
				<li ng-repeat="bug in bugs">
					<span class="bugname" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</span>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>